<table class="table table-striped table-bordered table-dark table-hover text-center">
  <thead>
      <tr>
          <td>
              Sport Type
          </td>
          <td>
              Medal Tally
          </td>
          <td>
              Gold 🥇
          </td>
          <td>
              Silver 🥈
          </td>
          <td>
              Bronze 🥉
          </td>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of sportsType$ | async">
          <td>
              {{item.name}}
          </td>
          <td>
              {{item.total}}
          </td>
          <td>
              {{item.gold}} 
          </td>
          <td>
              {{item.silver}} 
          </td>
          <td>
              {{item.bronze}} 
          </td>
      </tr>
  </tbody>
</table>